* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
::-webkit-scrollbar {
    cursor: pointer;
    width: 11px;
    
}

::-webkit-scrollbar-track{
       background-color: #b8d6ff;
}
::-webkit-scrollbar-thumb {
    background:linear-gradient(#ff2b2b, #f9fc4c);
    border-radius: 10px;
    cursor: pointer;
}


body {
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.container {
    width: 500px;
    height: 500px;
    background: linear-gradient(#b806ea,#1c2dea);
    margin-left: 600px;
    margin-top: 120px;
    border-radius: 15px;
    
}
.username {
  width: 320px;
  height: 40px;
  display: inline-block;
  border: 3px solid black;
  background-color: transparent;
  border-radius: 55px;
  margin-left: 90px;
  margin-top: 150px;
  outline: none;
  font-size: 18.5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  padding-left: 15px;
  padding-right: 33px;
  
}
.password {
    width: 320px;
    height: 40px;
    display:inline-block;
    border: 3px solid black;
    background-color: transparent;
    border-radius: 55px;
    margin-left: 90px;
    margin-top: 30px;
    outline: none;
    font-size: 18.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 15px;
    padding-right: 33px;
    color: white;
}
i {
    color: orange;  
    font-size: 21px;
}
.user {
    margin-top: 60px;
    margin-left: -35px;
}
.passw1 {
    margin-top: 40px;
    margin-left: -35px;
    cursor: pointer;
    position: absolute;

}
.passw2 {
    margin-top: 40px;
    margin-left: -35px;
    cursor: pointer;   
    position: absolute;

}


.line1 {
    display: block;
    margin-left: 140px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: white;
    
}
.rememberpassw {
    margin-left:-70px;
}
.line1>a {
    text-decoration-line: none;
    color: white;
    position: absolute;
    margin-left: 50px;
    margin-top: 3.5px;
}
.rememberpasswCheckbox {
    margin-left:90px;
    margin-top: 4px;
    width: 15px;
    height: 15px;
    position: absolute;
    accent-color: rgb(9, 245, 229);
    cursor: pointer;

}
.forgetpassw{
    margin-top: 0px !important;
    font-size: 18px;

}

.forgetpassw:hover{
    margin-top: -2px;
    font-size: 18px;
    color: chocolate;

}
.log_in {
    margin-left: 80px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 21px;
    border: 2px solid aqua;
    position: absolute;
    box-shadow: 5px 5px 15px black;
    cursor: pointer;
    background-color: transparent;


}
.sign_up {
    margin-left: 270px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 21px;
    border: 2px solid aqua;
    position: absolute;
    box-shadow: 5px 5px 15px black;
    cursor: pointer;
    background-color: transparent;

}
.log_in:hover {
    box-shadow: 0px 0px 10px 5px #69dcd2,0 0 10px 6px rgb(99, 75, 75);
    height: 45px;
    width: 155px;
    background-color:aqua;
    border:2.5px solid rgb(235, 154, 3);
}
.sign_up:hover {
    box-shadow: 0px 0px 10px 5px #69dcd2,0 0 10px 6px rgb(99, 75, 75);
    height: 45px;
    width: 155px;
    background-color:aqua;
    border:2.5px solid rgb(235, 154, 3);

}
button>a {
    text-decoration-line:none;
    color: black;
}

